body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  color: #011a32;
  font: 16px/1.25 'Raleway', sans-serif;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  background: black;
}

.text-play {
  font-size: 1em;
  font-weight: 900;
  line-height: 1;
  cursor: pointer;
}

